/*
*
* ------------------------------------------------------------------
*
* Project: CuriousCars - Car Rental Website
* Version: 1.0
* Created : 29.03.2019
* Author Name: Manoj
* Author URI: http://curiouslabs.in/manoj
* Description: CuriousCars is a simple Car Rental Responsive HTML Template.
*
* -------------------------------------------------------------------
*
*/

/*== Theme Defualt CSS ==*/

.overlay {
	position: relative;
	z-index: 1;
}

.overlay:after {
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.section-padding {
	padding: 100px 0;
}

.section-title {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 80px;
}

.section-title h2 {
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}

.section-title p {
	margin-top: 10px;
}

.section-title .title-line {
	color: #ffd000;
	position: relative;
}

.section-title .title-line::after {
	background-color: #333;
	content: "";
	height: 2px;
	left: -60px;
	position: absolute;
	top: 10px;
	width: 50px;
}

.section-title .title-line::before {
	background-color: #333;
	content: "";
	height: 2px;
	position: absolute;
	right: -60px;
	top: 10px;
	width: 50px;
}

.overlay .section-title h2,
.overlay .section-title p {
	color: #fff;
}

.overlay .section-title .title-line::after,
.overlay .section-title .title-line::before {
	background-color: #fff;
}

.scroll-top {
    bottom: 50px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 30px;
    width: 30px;
    z-index: 9999;
}

/*== Theme Defualt CSS ==*/

/*== Header Top CSS Start ==*/

#header-area,
#header-area a {
	color: #fff;
}

#header-top {
	background-color: #1e2228;
	padding: 8px 0;
}

#header-top i {
	color: #ffd000;
	font-size: 15px;
	margin-right: 2px;
}

#header-area .header-social-icons a i.fa {
	color: #fff;
	font-size: 15px;
	margin-left: 10px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

#header-area .header-social-icons a:hover i.fa,
#header-area .mainmenu ul li.active a,
#header-area .mainmenu ul li:hover a {
	color: #ffd000;
}

header.fixTotop #header-top {
	display: none !important;
}

/*== Header Top CSS End ==*/

/*== Header Bottom CSS Start ==*/

#header-bottom {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 15px 0;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

header.fixTotop #header-bottom {
	background-color: rgba(0, 0, 0, 1);
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.logo {
	display: inline-block;
}

.mainmenu ul li {
	float: left;
	position: relative;
}

.mainmenu ul li a {
	display: block;
	font-weight: 700;
	margin-left: 25px;
	padding: 15px 0;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.mainmenu ul li ul {
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	left: 0;
	opacity: 0;
	position: absolute;
	top: 52px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	visibility: hidden;
	width: 220px;
	z-index: 9999;
}

.mainmenu ul li ul::after {
	border-bottom: 10px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: "";
	left: 25px;
	position: absolute;
	top: -10px;
}

.mainmenu ul li:hover ul {
	opacity: 1;
	visibility: visible;
}

.mainmenu ul li ul li {
	float: none;
}

.mainmenu ul li ul li a {
	color: #000 !important;
	font-size: 12px;
	font-weight: 600;
	margin: 0;
	padding: 10px 25px;
}

.mainmenu ul li ul li.active a,
.mainmenu ul li ul li a:hover {
	background-color: #ffd000;
}

#header-bottom .container {
	position: relative;
}

.slicknav_menu {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 999999;
}

a.slicknav_btn {
	background-color: #ffd000;
	border-radius: 2px;
	height: 35px;
	margin: 0;
	padding: 0 !important;
	position: absolute;
	right: 15px;
	top: 10px;
	width: 50px;
	z-index: 999;
}

.slicknav_icon {
	height: auto !important;
	left: 50%;
	position: absolute !important;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: auto !important;
}

.slicknav_icon-bar {
	border-radius: 10px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin-bottom: 5px;
	text-align: center;
	width: 30px !important;
}

.slicknav_icon-bar:last-child {
	margin-bottom: 0 !important;
}

.slicknav_nav {
	background-color: #000;
	border-top: 1px solid #ffd000;
	position: absolute;
	top: 65px;
	width: 100%;
}

.slicknav_nav ul,
.slicknav_nav ul li a,
.slicknav_nav ul li.slicknav_parent a {
	margin: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	text-transform: uppercase;
}

.slicknav_nav ul li.slicknav_parent a:hover,
.slicknav_nav ul li a:hover {
	background-color: #ffd000;
	border-radius: 0px;
}

.slicknav_parent ul {
	font-size: 13px;
	margin-left: 15px;
}

.slicknav_parent ul li.slicknav_parent:hover ul a {
	background-color: transparent !important;
}

/*== Header Bottom CSS End ==*/

/*== Slider Area CSS Start ==*/

.single-slide-item {
	background-image: url(assets/img/banner.jpg);
	background-position: center center;
	background-size: cover;
	padding: 80px 0;
}

.book-a-car {
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 118px;
	padding: 30px 50px;
}

.book-a-car select.custom-select {
	background-image: url("assets/img/caret-cion.png");
	background-position: right 13px center;
	background-size: 12px auto;
}

.book-item {
	margin-bottom: 30px;
}

.return-car {
	margin-top: 30px;
}

.book-a-car h4 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.book-a-car input,
.book-a-car select {
	border-color: #ffd000;
	border-radius: 0;
	font-size: 14px;
	height: 45px;
	width: 100%;
}

.book-a-car input:focus,
.book-a-car select:focus {
	border-color: #ffd000;
}

.book-a-car input {
	border-right: 0 none;
}

.book-a-car .pick-up-date span.input-group-append {
	background-color: #fff;
	border: 1px solid #ffd000;
}

.book-a-car .pick-up-date span.input-group-append {
	border-left: 0 none;
}

.book-a-car .pick-up-date span.input-group-append i.fa {
	color: #ffd000;
	font-size: 18px;
	line-height: 33px;
}

.book-now-btn {
	background-color: #ffd000;
	color: #222;
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	padding: 12px 30px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.book-now-btn:focus {
	color: #222;
}

.gj-calendar-bootstrap table tr td.today div {
	color: #ffd000
}

.gj-calendar-bootstrap table tr td.selected div {
	background-color: #ffd000;
	border-color: #ffd000;
}

.slider-right-text {
	color: #fff;
	font-size: 16px;
}

.slider-right-text h1 {
	color: #ffd000;
	font-size: 45px;
	margin-bottom: 10px;
}

/*== Slider Area CSS End ==*/



/*== Choose Car Area CSS Start ==*/

#choose-car.section-padding {
	padding-bottom: 70px;
}

.choose-content-wrap .nav-tabs {
	border-bottom: 3px solid #ffd000;
}

.choose-content-wrap .nav-tabs li a {
	background-color: #f3f3f3 !important;
	border: medium none;
	border-radius: 0 !important;
	color: #1e2228 !important;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1.3px;
	margin-right: 3px;
	padding: 12px 20px;
	text-transform: uppercase;
}

.choose-content-wrap .nav-tabs li a.active {
	background-color: #ffd000 !important;
	background-color: #ffd000 !important;
	color: #fff!important;
}



/*== Footer Area CSS Start ==*/

#footer-area a {
	color: #ffd000;
}

.footer-widget-area {
	background-color: #1e2228;
	padding: 60px 0;
}

.footer-widget-area h2,
.footer-widget-area {
	color: #fff;
}

.singlefooter-widget h2 {
	border-bottom: 1px dashed #ffd000;
	display: inline-block;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 30px;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
}

.single-footer-widget h2 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.single-footer-widget p {
	font-size: 13px;
	line-height: 2;
}

.single-footer-widget img {
	margin-bottom: 20px;
}

.newsletter-area {
	margin-top: 20px;
}

.newsletter-area form {
	position: relative;
}

.newsletter-area input {
	background-color: transparent;
	border: 1px solid #ffd000;
	border-radius: 2px;
	color: #fff;
	height: 55px;
	padding: 10px;
	padding-right: 70px;
	width: 100%;
}

.newsletter-area .newsletter-btn {
	background-color: #ffd000;
	border: 0 none;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 100%;
	position: absolute;
	right: 1px;
	top: 0;
	width: 50px;
}

.footer-bottom-area {
	background-color: #000;
	color: #eaeaea;
	padding: 15px 0;
}

/*== Footer Area CSS End ==*/

/*== Preloader Area CSS Start ==*/

body.loader-active {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
}

.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 9999;
}

.preloader-spinner {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
}

.loader-content {
	width: 150px;
}

/*== Preloader Area CSS End ==*/


/*==========================
    Home Page Start
============================*/

/*== SlideShow CSS ==*/

html,
body,
#slideslow-bg,
#slideslow-bg div {
	height: 100%;
}

#slideslow-bg .vegas-timer {
	height: 1px !important;
}

.slideshowcontent {
	color: #fff;
	font-weight: 600;
	line-height: 2;
	margin-top: 30px;
}

.slideshowcontent h1 {
	color: #ffd000;
	margin-bottom: 20px;
}

#slideslow-bg div.book-ur-car,
#slideslow-bg div.book-ur-car * {
	height: auto;
}

.service-right .col-lg-12:last-child .single-service,
.service-content .col-lg-6:last-child .single-service,
.service-content .col-lg-12:last-child .single-service {
	margin-bottom: 0;
}

.book-ur-car input::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}

.book-ur-car input:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

.book-ur-car input::placeholder {
	color: #fff;
	opacity: 1;
}

/*== SlideShow CSS ==*/

/*== Book Car CSS ==*/

.book-ur-car {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	margin: 70px auto auto;
	overflow: hidden;
	padding: 50px 20px;
	width: 90%;
}

.bookinput-item {
	border: 1px solid #fff;
	display: block;
	float: left;
	margin-right: 1%;
	width: 19.2%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.bookinput-item:last-child {
	margin-right: 0;
}

.book-ur-car select,
.book-ur-car input,
.book-ur-car button {
	background-color: transparent;
	border: none;
	border-radius: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.book-ur-car select:focus,
.book-ur-car input:focus,
.book-ur-car button:focus {
	border-color: #fff;
	background-color: transparent;
}

.bookcar-btn button {
	padding: 7px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.bookcar-btn:hover {
	background-color: #ffd000;
	border-color: #ffd000;
}


.book-ur-car .input-group-append i.fa {
	font-size: 15px !important;
	line-height: 30px;
	color: #ffd000;
}

.book-ur-car select option {
	color: #000;
	font-weight: 400;
	background: #fff;
	text-transform: capitalize;
}

.book-ur-car select.custom-select {
	background-image: url("assets/img/caret-cion.png");
	background-position: right 12px center;
	background-size: 12px auto;
}

/*== Book Car CSS ==*/


/*== Our Cars CSS ==*/

.ourcar-tab-menu .nav {
	background-color: #ffd000;
	border: none;
	display: block;
	-ms-flex-wrap: inherit;
	flex-wrap: inherit;
}

.ourcar-tab-menu .nav li a {
	border: none;
	border-radius: 0;
	color: #22252c;
	/*padding: 15px;*/
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1px solid #22252c;
}

.ourcar-tab-menu .nav li:last-child a:hover,
.ourcar-tab-menu .nav li:last-child a {
	border-color: transparent;
}

.ourcar-tab-menu .nav li a:hover {
	border-color: #000;
}

.ourcar-tab-menu .nav li a.active {
	background-color: #000;
	color: #fff;
	border: none;
}

.ourcar-info h2 {
	background-color: #ffd000;
	color: #fff;
	font-size: 28px;
	padding: 8px 10px;
}

.ourcar-info h2 span {
	color: #22522c;
	font-size: 14px;
	text-transform: lowercase;
}

.our-table {
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
	max-width: 100%;
	width: 100%;
}

.our-table td {
	border: 1px solid #ddd;
	font-size: 13px;
	padding: 8px 20px;
	text-align: left;
}

.our-table td:first-child {
	font-weight: 600;
}

.ourcar-info a.bookbtn {
	background-color: #ffd000;
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.ourcar-info a.bookbtn:hover {
	background-color: #222;
}

.ourcar-pic img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/*== Our Cars CSS ==*/

/*==========================
    Car Page Css Start
============================*/

/*== Page Title CSS ==*/

#page-title-area {
	background-image: url("assets/img/page-title.jpg");
	background-position: center center;
	background-size: cover;
	padding-top: 220px;
}

#page-title-area .section-title {
	margin-bottom: 0;
}

/*== Car List CSS ==*/

.single-car-wrap {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	color: #7f7f7f;
	line-height: 1.8;
	margin-bottom: 50px;
}

.single-car-wrap:last-child {
	margin-bottom: 0;
}

.car-thumb-1 {
	background-image: url(assets/img/car/car-1.jpg);
}

.car-thumb-2 {
	background-image: url(assets/img/car/car-2.jpg);
}

.car-thumb-3 {
	background-image: url(assets/img/car/car-3.jpg);
}

.car-thumb-4 {
	background-image: url(assets/img/car/car-4.jpg);
}

.car-list-thumb {
	background-size: cover;
	background-position: center center;
	max-height: 100%;
}

.car-list-info {
	padding-right: 10px;
	position: relative;
	margin-bottom: 10px;
}

.car-list-info h2 a {
	color: #22252c;
	font-size: 20px;
	font-weight: 600;
}

.car-list-info h5 {
	border-bottom: 1px solid #ddd;
	color: #ffd000;
	font-size: 15px;
	margin-bottom: 12px;
	margin-top: 5px;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.car-info-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	font-size: 13px;
	font-weight: 600;
	margin: 10px 0;
	text-align: center;
}

.car-info-list li {
	border: 1px solid #ccc;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	padding: 3px;
	position: relative;
}

.car-info-list li::before {
	color: #ffd000;
	content: "\f14a";
	font-family: FontAwesome;
	margin-right: 5px;
}

.car-info-list li + li {
	border-left: 0;
}

.rating {
	color: #ffd000;
	font-size: 13px;
	position: absolute;
	right: 15px;
	top: 15px;
}

.rating i:hover {
	cursor: pointer;
}

.rating i.unmark:hover {
	color: #ffd000;
}

.rating i.unmark {
	color: #ddd;
}

.rent-btn {
	background-color: #000;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin-top: 5px;
	padding: 8px 30px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.rent-btn:hover {
	background-color: #ffd000;
	color: #fff;
}

/*== Page Pagination CSS ==*/

.page-pagi {
	margin-top: 50px;
}

.page-pagi nav li a {
	border-color: #ffd000;
	color: #000;
	font-weight: 600;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.page-pagi nav ul li.active a {
	background-color: #ffd000 !important;
	border-color: #ffd000 !important;
}

.page-pagi nav li a:hover {
	background-color: #ffd000;
	border-color: #ffd000;
	color: #fff;
}

/*== Sidebar CSS Here ==*/

.single-sidebar {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	color: #575757;
	font-size: 15px;
	margin-bottom: 30px;
}

.single-sidebar h3 {
	background-color: #ffd000;
	color: #222;
	font-size: 18px;
	padding: 12px 5px;
	text-align: center;
	text-transform: uppercase;
}

.single-sidebar:last-child {
	margin-bottom: 0;
}

.sidebar-body {
	line-height: 2;
	padding: 30px 15px;
}

.sidebar-body i.fa {
	color: #ffd000;
	font-size: 17px;
	margin-right: 4px;
	text-align: center;
	width: 20px;
}

.sidebar-body i.fa {
	color: #ffd000;
	font-size: 17px;
	margin-right: 4px;
	text-align: center;
	width: 20px;
}

.single-recent-tips {
	margin-bottom: 20px;
}

.single-recent-tips:last-child {
	margin-bottom: 0;
}

.recent-tip-thum,
.recent-tip-body {
	display: table-cell;
	vertical-align: middle;
}

.recent-tip-thum a img {
	border-radius: 50%;
	height: 85px;
	min-width: 85px;
}

.recent-tip-body {
	color: #555;
	font-size: 10px;
	font-weight: 600;
	padding-left: 15px;
}

.recent-tip-body a {
	color: #3a3a3a;
	font-size: 15px;
	font-weight: 600;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.recent-tip-body h4 {
	line-height: 1;
}

.recent-tip-body a:hover {
	color: #ffd000;
}

.recent-tip-body span {
	display: block;
	margin-top: 5px;
	text-transform: uppercase;
}

.sidebar-body .social-icons a i {
	border: 1px solid #ddd;
	border-radius: 50%;
	color: #000;
	height: 40px;
	line-height: 40px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 40px;
}

.sidebar-body .social-icons a i:hover {
	background-color: #ffd000;
	border-color: #ffd000;
	color: #fff;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: #ada9a9;
  color: darkred;
}
